.header {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    height: 5rem;
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
    position: fixed !important;
    width: 100%;
    top: 0;
    background: white;
    z-index: 2;
}

.header img {
    height: 4rem;
}

#up-page img{
    height: 3rem !important;
}

.imgWomanDrive {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.recuadro {
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10% !important;
}

.content1 {
    display: flex;
    font-size: 40px;
    line-height: 1;
    margin-bottom: 1rem;
    margin-left: 5rem;
    flex-direction: column;
}

.content1 strong {
    color: #227994;
}

.btn {
    color: white !important;
    background-color: #227b94 !important;
    border-radius: 2rem !important;
    padding: 0 2rem !important;
    width: auto;
}

.content2 {
    background-color: #f2f4f4;
    display: flex;
    justify-content: center;
    font-size: 24px;
    padding: 3rem;
}

li.item img {
    width: 15rem;
}

.Content2 {
    background-image: url('RecursosWebPage/Fondos/Fondo\ angosto\ oscuro.svg');
    color: white;
    padding: 5rem;
    text-align: center;
    background-size: cover;
}

.Content2 div {
    margin: 3rem;
}

.btn.btn-custom {
    height: 3rem;
    background-color: #ffdc7f !important;
    max-width: 25rem;
}

.dot {
    border-radius: 50% !important;
    height: 1rem !important;
    width: 1rem !important;
}

.services-container strong {
    color: #ffdc7f;
}

.text {
    background: url('RecursosWebPage/Fondos/FondoAngosto.svg');
    margin-top: 14rem;
    display: flex;
    justify-content: center;
}

.text div {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    height: 100%;
    padding: 2rem;
    background-color: white;
}

.text strong {
    color: #227994;
}

.title {
    color: #227994;
}

.footer {
    background-color: #227994;
    color: white;
    padding-top: 2rem;
}

.footer-init {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer strong {
    color: #ffdc7f;
}

.footer a {
    color: #ffdc7f;
}
.more-information{
    width: 30%;
}
.more-information p {
    background-color: white;
    border-radius: 2rem;
    color: gray;
    width: 29rem;
    height: 2rem;
    padding: 2px 1rem;
}

.more-information button {
    background-color: #78b7d0;
    height: 1.5rem;
    width: 10rem;
    border: 0;
    border-radius: 1rem;
    color: white;
    padding: 0rem;
    position: absolute;
    transform: translate(-100%, 15%);
    margin-top: 1rem;
}

.custom-input{
    width: 100%;
    max-width: 600px;
    padding: 1% 3%;
    border: 2px solid #227994;
    border-radius: 30px;
    outline: none;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    margin-bottom: 2rem;
}

.social-media {
    display: flex;
}

.social-media img {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin-right: 1.5rem;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.contacts img {
    height: 5rem;
    margin: 2rem -0.5rem;
}

.contacts a {
    text-decoration: none;
    color: white;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    flex-shrink: 0;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 1.5rem;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1;
}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel-dots .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #ccc;
    transition: background-color 0.3s ease;
}

.carousel-dots .dot.active {
    background-color: #333;
}

div#carousel1 img {
    width: 10rem;
    margin: 0 3rem;
}

div#carousel1 {
    height: 20rem;
}

.services-section {
    background-image: url('RecursosWebPage/Fondos/FondoAngosto.svg');
    background-position: center;
    color: #ffffff;
    padding: 50px 0;
}

.services-section h2 {
    color: #227b94;
    font-weight: bold;
    margin-bottom: 50px;
}

.service-box {
    position: relative;
    background-color: #f2f4f4;
    border-radius: 8px;
    padding: 40px 20px 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: visible;
    margin: 1.5rem;
}

.service-box img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    position: absolute;
    top: -7rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    padding: 10px;
}

.col-md-6.col-lg-2.service-box {
    margin-top: 10rem !important;
}

.service-box h4 {
    margin-top: 40px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.service-box p {
    color: #555;
    font-size: 14px;
    margin-top: 1rem;
}


.services-container {
    background-color: #78b7d0;
    padding: 50px 20px;
    border-radius: 8px;
    color: white;
}

.services-container h3 {
    font-size: 28px;
    font-weight: bold;
}

#map-text{
    font-size: 45px;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: auto;
}

.image-container img {
    width: 115%;
    border-radius: 8px;
}

.point {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    transform: translate(-50%, -50%);
}
.point-1 {
    top: 21%;
    left: 43%;
}

.point-2 {
    top: 26%;
    left: 42%;
}

.point-3 {
    top: 52%;
    left: 35%;
}

.point-4 {
    top: 66%;
    left: 35%;
}

.point-5 {
    top: 21%;
    left: 53%;
}

.point-6 {
    top: 79%;
    left: 27%;
}

.point-7 {
    top: 75%;
    left: 32%;
}

.point-8 {
    top: 66%;
    left: 49%;
}

.vehitramites-section {
    background-color: #227b94;
    padding: 60px 30px;
    border-radius: 8px;
    text-align: center;
    color: white;
    position: absolute;
    width: 80%;
    margin: 0 7%;
}

.vehitramites-section h2 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 30px;
}

.btn-custom {
    background-color: #ffdc7f;
    color: #333;
    font-weight: bold;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    margin: 10px;
}

.social-media img {
    cursor: pointer;
}

.big-phrase {
    font-family: ErasMediumITC;
    font-size: 30px;
}

.btn {
    font-family: ErasDemiITC;
    font-size: 20px !important;
}

.btn-text {
    font-family: ErasDemiITC;
    font-size: 20px !important;
}

.texts{
    font-family: ErasMediumITC;
    font-size: 20px;
}


@media screen and (max-width: 991px) {
    .recuadro {
        flex-direction: column;
    }

    .text div {
        margin-top: 10%;
    }

    .btn {
        font-size: 18px !important;
    }
    .footer-init {
        flex-direction: column;
    }
    .more-information{
        width: auto;
    }

    .recuadro {
        margin-top: 15% !important;
    }
}

@media screen and (max-width: 462px) {
    .text div {
        margin-top: 20%;
    }

    .recuadro {
        margin-top: 25% !important;
    }

}

@media screen and (max-width: 587px) {
    .image-container img{
        width: auto !important;
    }
    
    .point-1 {
        left: 37%;
    }
    
    .point-2 {
        left: 36%;
    }
    
    .point-3 {
        left: 31%;
    }
    
    .point-4 {
        left: 30%;
    }
    
    .point-5 {
        left: 45%;
    }
    
    .point-6 {
        left: 24%;
    }
    
    .point-7 {
        left: 28%;
    }
    
    .point-8 {
        left: 42%;
    }

    .service-box{
        margin: 0!important;
    }
}

@media screen and (max-width: 382px) {
    nav.navbar div:first-child {
        flex-wrap: nowrap;
    }
}

@font-face {
    font-family: 'ErasMediumITC';
    src: 
         url('/fonts/eras-itc-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ErasDemiITC';
    src: 
         url('/fonts/eras-itc-demi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}